*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.sln
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.lib
*.opendb
*.db
*.ipch
*.bat
*.dll
*.vcxproj
*.user
*.filters
.vs/
Debug/
Release/
lib/
x64/
